[Unit]
Description=Kodi actions for resuming from suspend
After=suspend.target
Requires=kodi.target

[Service]
Type=oneshot
ExecStart=-/usr/bin/kodi-send --delay=1000 --action="Action(close)"

[Install]
WantedBy=suspend.target
